*,
*:before,
*:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;    
}

body{
    font-family: tahoma, arial, sans-serif;
    margin: 0;
    padding: 0;
}

.principal{
    margin: auto;
    width: 80%;
    position: relative;      
}

.main-header{
    margin-top: 40px;
}

.logotipo{
    background-color: #162028;
    position: absolute;    
    left: 175px;
    z-index: 2;
    padding: 9px;
}

.main-header nav{
    background-color: #162028;
    text-align: right;
    position: absolute;          
    width: 100%; 
    z-index: 1;
}

.main-header nav ul{
    margin-right: 50px;
    padding: 2px;
}

.main-header nav li{
    display: inline-block;
    list-style-type: none;    
    text-transform: uppercase;
    text-indent: 15px;             
}

.main-header nav a{
    text-decoration: none;
    color: #ffffff46;
    letter-spacing: 5px;
    font-size: 14px;
    transition: color 0.3s linear;
}

.main-header nav a:hover{
    color: #ffffff;    
}

.bg{      
    width: 100%;
    z-index: 0;
    margin-top: 54px;    
}
.main-content{
    position: relative;    
}
.content-1{    
    text-align: center;
    padding: 50px 100px;    
}

.portifolio h1{
    font-size: 35px;
    color: #252525;    
}

.portifolio p{      
    line-height: 2; 
    font-size: 16px;
    color: #555;
}

.gallery{
    position: relative;
    text-align: center;
    margin-top: 90px;
    color: #555;
}

.cards{
    display: inline-block;
}

.card-1, .card-2{
    margin-right: 20px;
}

.card-text{
    font-size: 16px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.card-text-2{
    color: #555555cb;
}

.content-2{
    background-color: #003d52;
    background-image: url(/asset/image/bg_detalhe.png);
    background-position: right bottom;
    background-repeat: no-repeat;    
    color: white;
    padding: 100px;
    margin-top: 50px;    
}

.about h2{
    font-size: 46px;
    font-weight: normal;
    text-transform: uppercase;
}

.about p{
    width: 60%;
    line-height: 1.5;
}

.contact{    
    text-align: center;        
}

.contact address{
    padding: 50px;
    text-transform: uppercase;
    font-weight: 600;
    color: #003d52;
    font-style: normal;
    font-size: 26px;
}

.contact iframe{
    width: 100%;
}

.main-footer{
    color: #6f8597;
    background-color: black;    
    margin: 40px 0px 50px 0px;
}

.main-footer p{
    padding: 20px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    font-size: 12px;
    letter-spacing: 5px;
}